# Compiled class files
*.class

# Log files
*.log

# IDE-specific files
.metadata
.project
.settings
.classpath

# Build system files
target
build
bin

# Dependency directories
/lib
/external

# 未整理のSpringソース
Spring
# Springサンプルソース
spring-book-src-master
